[2017-05-30 18:19] ceschi opened #1 "Dates mismatch between FRED and imported data"
Hi! I have been using fredr for my research, but recently I have noticed that some imported series do not display correct start and end dates when compared with dates on Fred website. To give an example:

`df <- fredr_series(series_id='FGCCSAQ027S', frequency='q')`

is a series from 1945-10-01 to 2016-10-01 (or, in quarters, 1945Q4 - 2016Q4). Once it is imported, regardless of the specific format

[2017-05-30 23:30] sboysel commented on #1
Hi @ceschi ,

Thanks for bringing this to my attention.  The inconsistency arose from poor handling of time series parsing in `fredr_series`.  Since  691ca81d95e2a2df74db5862b7a6326a312870f5, I've opted for simply returning the series values and dates a an `xts` object.  Can you update `fredr` and try again?

[code]

[2017-05-31 14:49] sboysel commented on #1
Correct. That is a conscious choice to return a simple object containing observation dates and values without loss of data fidelity.  If you want to coerce the returned object to a quarterly `ts` object:

[code]

or convert the existing object to quarterly using `zoo::as.yearqtr`

[code]

[2017-05-31 16:50] ceschi commented on #1
Thank you! very clear and useful, I'll fix my code right away!

[2017-05-31 16:50] #1 closed

[2017-06-28 02:16] sboysel opened #2 "Include query response data in fredr output"
`fredr` currently returns only a subset of the response for each category.  Metadata from the response ought to be appended to the returned data frame.

[2017-12-20 00:33] hedgehog opened #3 "Installation failed: cannot open file"
Hi, Thank you for the time and effort you have put into making this available.
I hope you can shed some light of the following.

Unfortunately my install is failing as follows (system details below):

[code]

[code]

[2017-12-20 00:44] hedgehog opened #4 "tar.gz release archive"
Hi Given the problems installing reported in issue #3, I tried to install from an archive.  R requires tar.gz files.

Further when I tried to unpack the .zip archive to create the tar.gz myself winzip remports the zip file is corrupt.  I've tried several downloads.

Hope that helps.

[2017-12-20 01:34] sboysel commented on #3
Hi @hedgehog,

I can't replicate this in my environment.  First off, is [Rtools](https://cran.r-project.org/bin/windows/Rtools/) installed?

[code]

[2017-12-20 01:38] sboysel commented on #4
Hi @hedgehog,

I'm not sure exactly what steps you've followed.  What is the output when you try:

[code]

As in #3 , verify that Rtools is installed first.

Thanks for using the package!

Sam

[2017-12-24 02:33] sboysel opened #5 "List of possible endpoints"
Document possible endpoints from https://research.stlouisfed.org/docs/api/fred/

[2017-12-24 02:51] sboysel commented on #2
`fredr` (and therefore by extension, `fredr_series` and `fredr_search`) has the `to_frame` option.  When `FALSE`, a response object from the [`httr`](https://cran.r-project.org/web/packages/httr/index.html) package.  This object can be further parsed using `httr::content`.  This option is now documented in the package [README](https://github.com/sboysel/fredr/tree/master#general-queries) since #6.

[2017-12-24 02:51] #2 closed

[2017-12-24 03:01] sboysel commented on #5
Closed with #6

[2017-12-24 03:01] #5 closed

[2018-02-28 01:23] peterxeno opened #7 "limit of 1000 on fredr_search()"
Is it possible to pull more than 1000 records with `fredr_search()` ?

[2018-02-28 01:57] sboysel commented on #7
No, this is an [API limit](https://research.stlouisfed.org/docs/api/fred/series_search.html#limit).  But you came mimic pagination using the parameter `offset`.  Documentation [here](https://research.stlouisfed.org/docs/api/fred/series_search.html#offset).

[2018-02-28 01:57] #4 closed

[2018-02-28 01:58] #3 closed

[2018-02-28 03:04] sboysel opened #9 "remove dplyr as dependency"
perhaps use `do.call` and `rbind` instead

[2018-03-02 07:40] sboysel opened #11 "add vignette"

[2018-03-03 00:48] #7 closed

[2018-03-13 21:02] apsteinmetz commented on #9
If you prefer to stay in the `zoo/xts` context for the data you return, it's probably better to lose `dplyr`.  Personally, I prefer to work in the `tidyverse` so I like my dates as a data column so `dplyr` is always loaded. `lubridate` is a great replacement for `xts` but I realize it's something of a religious issue.

[2018-03-23 21:05] sboysel commented on #9
I use `dplyr` almost exclusively for the consistent coercion rules of `bind_rows`.  I also find myself most often working with `tidyverse` loaded but I envisioned `fredr` as a simple tool to pull in time series objects, letting the user decide how they wanted to convert them after.  Note that [`tidyquant`](https://github.com/business-science/tidyquant) is a more comprehensive solution to unifying

[2018-05-16 08:06] sboysel opened #12 "update pkgdown documentation"
https://github.com/r-lib/pkgdown

[2018-07-08 14:05] DavisVaughan commented on #9
Just looking through some of `fredr`. Like this alot! In `riingo`, an R interface to Tiingo stock data, I get around the need for `dplyr::bind_rows()` by doing (in the context of `fredr_series()`):

`tibble::as.tibble(jsonlite::fromJSON(httr::content(resp, "text"))$seriess)`

Perhaps you could use that?

[2018-07-08 14:18] DavisVaughan opened #13 "A few thoughts on the implementation"
I would love to see this package on CRAN. I was just about to write an interface to FRED that does more than what we do in `tidyquant` (like accessing all the params of the API) when I discovered this. I think it has great potential!

If you don't mind, I'd like to suggest a few features that I personally would like. I'm hardcore biased towards `tidyverse`, so take it with a grain of salt.

* Allo

[2018-07-08 18:30] sboysel commented on #9
Thanks for the feedback @DavisVaughan !  I like your suggestion so I think I'll go with it.  I'm working out the CI kinks in #14 on the `remove-dplyr` branch.

[2018-07-08 19:32] DavisVaughan commented on #13
I can help too over the next week or so if you'd accept the PR!

[2018-07-08 19:34] sboysel opened #15 "fredr_key throws error if Renviron exists"
Should probably change the function altogether so that it doesn't modify Renviron at all.  See @DavisVaughan's suggestion in #13

[2018-07-08 19:35] sboysel opened #16 "Vectorizing fredr_series"
It would be nice if `fredr_series_observations` (or potentially all `fredr*` functions) could accept multiple series IDs.  For the time being, this behavior can be achieved by mapping `fredr_series_observations` over a vector of IDs:

[code]

[2018-07-08 19:37] sboysel commented on #13
Absolutely.  Thanks!

[2018-07-08 20:14] sboysel commented on #9
Fixed with #14.  Note that `fredr_series` will now return a tibble instead of a time series object.

[2018-07-08 20:14] #9 closed

[2018-07-08 21:42] sboysel commented on #15
Changes merged into master with with #17

[2018-07-08 21:42] #15 closed

[2018-07-08 23:52] sboysel commented on #11
Added in #18

[2018-07-08 23:52] #11 closed

[2018-07-08 23:52] sboysel commented on #12
Updated in #18

[2018-07-08 23:52] #12 closed

[2018-07-09 00:59] sboysel opened #19 "Use time aware tables"
For `fredr_series` returns.

See [business-science/tibbletime](https://github.com/business-science/tibbletime).  Would reintroduce to some heavier dependencies.

[2018-07-09 23:36] DavisVaughan opened #20 "Add all relevant API parameters as function params for user interface improvements"
I'm going to work on this a bit tonight for the current implemented functions. Should be easy to then extend it.

[2018-07-10 11:41] DavisVaughan commented on #20
I've started work below, you can reference `?fredr_series` for the messiness I'm talking about.

On further thinking about this, I think including all of the relevant function parameters + their documentation _in each function_ is a bit overkill and makes the package a bit messy. Rather, we could use a combination of tricks I used in `furrr` (from Hadley actually) + some tricks from the documentat

[2018-07-10 11:42] DavisVaughan commented on #20
That way, the `fredr_series()` help page is much cleaner and only states the core of what it does, but still provides the flexibility to specify all those other options. It also makes it easier on us as we don't have to go through each function's endpoint and add all the parameters as arguments to the function and make sure they pass through correctly.

[2018-07-10 18:18] sboysel commented on #20
I do like the idea of required params + `fredr_options()` in each function, with `fredr_options()` documenting common optional parameters for each function.  However, I'd prefer to only include parameters that are required and do not have a default.  So for your example with `fredr_series()`, I don't feel the need to include `observation_start` and `observation_end` as required params.  I don't mi

[2018-07-10 23:41] DavisVaughan commented on #20
Makes sense, I will:

- Only make required parameters explicit arguments
- Change the hard coded API defaults to instead be `NULL`, ensuring that the user knows by reading the docs what the default is

[2018-07-11 00:18] DavisVaughan commented on #20
Also, in terms of exposing all endpoints, I was going to suggest:

`fredr_series` -> `fredr_series_observations`

`fredr_search` -> `fredr_series_search`

`fredr_search_id` -> just part of `fredr_search`, use the `search_type` param to switch between full text and id.

`fredr_sarch_rel_tags` -> `fredr_search_related_tags`

1) This is consistent with the endpoints
2) This allows us to add `fredr_se

[2018-07-11 00:38] DavisVaughan commented on #20
Hmm, running into times when the same parameter is documented inconsistently between endpoints. For instance, limit is 0-100000 for series/observations but is 0-1000 for tags. Kind of hurts the ability to document them all in 1 place.

[2018-07-11 01:09] DavisVaughan commented on #20
Check out the updates to the branch:
https://github.com/DavisVaughan/fredr/tree/feature/function-parameters

[code]

Look at `?fredr_options`, `?fredr_series` and `?fredr_tags`

[2018-07-11 04:40] sboysel commented on #20
Thanks! This is great stuff.  Thanks for all the work.

* **Endpoint consistent function names** I agree.  Since it will probably be the most commonly used function, what about exporting something like `fredr_series_obs` as an alias for `fredr_series_observations` for convenience?  I don't want to reintroduce any confusion but it seems natural in my mind.
* **Different defaults/limits for the same

[2018-07-11 11:29] DavisVaughan commented on #20
* `fredr_series_obs` is fine by me. long functions names don't really scare me as much as they used to, auto complete in most editors normally takes care of it. but i agree with you that this would be fine.

* I agree that we need to take a step backwards in light of the new information that alot of params are documented differently across endpoints. The more I think about it with this new info in

[2018-07-12 05:17] sboysel commented on #20
I propose we drop `fredr_options()` in favor of explicit function arguments in each function.

The argument list may be a bit messy (max number of args is about 12 it seems) this way but then the package will be closer to a simple set of R bindings to the API itself, which was my original vision for the package.

If you finalize this in `fredr_series_observations()` and send a PR, I will review an

[2018-07-12 05:31] sboysel opened #21 "Implement functions for endpoint: Series"
https://research.stlouisfed.org/docs/api/fred/#Series

The following endpoints need to be implemented properly and consistently in `fredr`:

- [x] `fredr_series()` - Get an economic data series. (#30)
- [x] `fredr_series_categories()` - Get the categories for an economic data series. (#30)
- [x] `fredr_series_observations()` - Get the observations or data values for an economic data series. (#28)

[2018-07-12 05:38] sboysel opened #22 "Implement functions for endpoint: Categories"
https://research.stlouisfed.org/docs/api/fred/#Categories

The following endpoints need to be implemented properly and consistently in `fredr`:

- [ ] `fredr_category()` - Get a category.
- [ ] `fredr_category_children()` - Get the child categories for a specified parent category.
- [ ] `fredr_category_related()` - Get the related categories for a category.
- [ ] `fredr_category_series()` - Get th

[2018-07-12 05:41] sboysel opened #23 "Implement functions for endpoint: Releases"
https://research.stlouisfed.org/docs/api/fred/#Releases

The following endpoints need to be implemented properly and consistently in `fredr`:

- [x] `fredr_releases()` - Get all releases of economic data. (#33 )
- [x] `fredr_releases_dates()`- Get release dates for all releases of economic data. (#33)
- [x] `fredr_release()` - Get a release of economic data. (#33)
- [x] `fredr_release_dates()` - G

[2018-07-12 05:43] sboysel opened #24 "Implement functions for endpoint: Sources"
https://research.stlouisfed.org/docs/api/fred/#Sources

The following endpoints need to be implemented properly and consistently in `fredr`:

- [x] `fredr_sources()` - Get all sources of economic data. (#34)
- [x] `fredr_source()` - Get a source of economic data. (#34)
- [x] `fredr_source_releases()` - Get the releases for a source. (#34)

The functions are to be implemented with explicit argument

[2018-07-12 05:44] sboysel opened #25 "Implement functions for endpoint: Tags"
https://research.stlouisfed.org/docs/api/fred/#Tags

The following endpoints need to be implemented properly and consistently in `fredr`:

- [x] `fredr_tags()` - Get all tags, search for tags, or get tags by name. (#28)
- [ ] `fredr_related_tags()` - Get the related tags for one or more tags.
- [ ] `fredr_tags_series()` - Get the series matching tags.

The functions are to be implemented with expl

[2018-07-12 06:34] sboysel opened #26 "Consistent unit tests"
As of now, unit testing is quite haphazard.  I'd like to establish a consistent set of tests for each function.

1. `fredr_set_key()` - fine as is
2. `fredr()`
   - errors when API key is not set
   - errors for bad endpoint
   - errors for non-200 HTTP response
   - return should always be a tibble.
3. Endpoint functions wrapped around `fredr()`
   - errors for bad parameter names and values**

[2018-07-12 11:21] DavisVaughan commented on #20
* Agreed about dropping `fredr_options()`. I think this is the cleanest way in the end and uses the native tools that rstudio and roxygen2 provides.

* I'll finalize it in `fredr_series_observations()` tonight, and PR it (I live on the East Coast of USA) so we can start working independently.

Since you gave me push access now I'll begin working on one of the new issues in its own branch here on t

[2018-07-12 11:30] DavisVaughan commented on #26
We should also think about cases where 0 row tibbles are returned, because I think i ran into an issues with `fredr_series` where that failed with a strange (at least to a user) error.

[2018-07-14 00:08] DavisVaughan commented on #26
Eventually for CRAN we will likely need a skip_if_no_auth() function. See riingo helper R file. Must be named helper_*.R for testthat. https://github.com/business-science/riingo/tree/master/tests/testthat

Also might get CRAN push back on donttest{} wrapped code, but I got around it by explaining my reasoning that auth is needed for testing and that I test extensively on Travis for riingo

[2018-07-14 00:16] sboysel commented on #26
I see.  Any idea on how to deal with vignettes when the API key isn't present?

[2018-07-14 00:33] DavisVaughan commented on #26
See the reply from `hrbrmstr` here https://stackoverflow.com/questions/47333912/r-package-vignette-include-api-key it covers all the bases of what you should do for API testing.

`rtweet` generally follows that advice and sets `eval = FALSE` for the chunks in the vignette. Its annoying but its the best you can do i think. I wouldnt try and cache / save data and try and load it in (to mock the API

[2018-07-14 01:01] sboysel commented on #26
Thanks for the tip!  I'll follow that

[2018-07-14 02:12] sboysel commented on #26
Tests were overhauled to adopt this framework in f20f51031c084b8d469d006375b6e4422b8a4550.  We can extend and modify testing as needed as development continues.  Some remarks:

- The use of helper functions defined in `R/validation.R` can be used to extend function checking
- `fredr()` endpoint validation (a6d82f815d2a009f2d86a4451ca1eef9e3413635)
- `skip_if_no_key()` defined and used in tests req

[2018-07-14 02:19] sboysel commented on #20
This approach was implemented first for existing functions in #28

[2018-07-14 02:19] #20 closed

[2018-07-14 02:21] #26 closed

[2018-07-14 02:49] sboysel commented on #21
@DavisVaughan: Just as a heads up, I'm currently working on these functions in a local feature branch.

[2018-07-14 10:33] DavisVaughan commented on #21
Sounds good. I see for the required Params you changed the default from nothing to null. I see the reason you did that (so you can pass to the validation function) but I'd like to ensure the user knows it's required ahead of time. We could either

A) add "required" by the parameter in the documentation

B) restructure the argument checking to be

[code]

[2018-07-14 14:17] DavisVaughan commented on #25
I'll take this one

[2018-07-14 14:42] DavisVaughan commented on #25
Important note. The JSON example uses `monetary+aggregates;weekly` as the example. `httr::GET` transforms the `+` into `%2B` which the FRED API apparently does not accept. An alternative is to just use a space, `monetary aggregates;weekly` where the space turns into `%20` which seems to be fine. I'm going to have a validation function that checks this.

[2018-07-14 17:44] sboysel commented on #21
We could do both.  I'll update the functions in this PR as well as those already implemented.

[2018-07-14 18:29] sboysel commented on #21
I see.  I'll go with option A in this PR.

[2018-07-14 18:45] #21 closed

[2018-07-14 19:33] #25 closed

[2018-07-16 04:03] #23 closed

[2018-07-16 05:59] sboysel commented on #24
Closed with #34

[2018-07-16 05:59] #24 closed

[2018-07-17 19:41] sboysel opened #38 "Documentation improvements for release"
Going through the documentation one last time before submitting to CRAN: verifying parameters are correct, improving function and parameter descriptions, adding usage examples, verifying consistent links and Roxygen syntax, etc.

- [ ] Endpoint functions: Categories
- [ ] Endpoint functions: Releases
- [ ] Endpoint functions: Series
- [ ] Endpoint functions: Sources
- [ ] Endpoint functions: Tags

[2018-07-17 20:12] DavisVaughan commented on #38
Good plan. I was going to suggest this. Im going to work on this tonight. Maybe 1 branch per endpoint would be good so we dont overlap work

[2018-07-17 20:37] sboysel commented on #38
I've kind of been doing it in a single branch, commit-wise in #39. I'll finish up tags right now and push the work I've done.  Then we can continue from there.

[2018-07-17 21:40] sboysel opened #40 "Vignette improvements"
I was thinking about splitting the vignettes as follows

- [ ] Get started: instructs the user how to install, authenticate, and obtain a series
- [ ] Categories endpoint functions (we can basically pull examples from the function documentation and annotate)
- [ ] Releases endpoint functions
- [ ] Series endpoint functions
- [ ] Sources endpoint functions
- [ ] Tags endpoint functions

This approa

[2018-07-17 21:41] sboysel opened #41 "Vignette improvements"
I was thinking about splitting the vignettes as follows

- [x] Get started: instructs the user how to install, authenticate, and obtain a series
- [x] Categories endpoint functions (we can basically pull examples from the function documentation and annotate)
- [x] Releases endpoint functions
- [x] Series endpoint functions
- [x] Sources endpoint functions
- [x] Tags endpoint functions

This approa

[2018-07-17 21:42] sboysel commented on #40
Duplicate

[2018-07-17 21:42] #40 closed

[2018-07-18 01:07] DavisVaughan opened #44 "Maybe alias `fredr_series_observations()`?"
We've talked about the fact that `fredr_series_observations()` is likely going to be the most popular function of the package, but is also annoying to type. What if, since it really is __the__ function in the package, we aliased it with `fredr()` (we would keep both and they could share a Rd file)?

We'd have to go back and replace the current `fredr()` function with something like `fredr_request(

[2018-07-18 01:15] sboysel commented on #44
Yes I think this is a good idea

- `fredr_request()` to form a general request
- `fredr_series_observations()` to fetch observations
- `fredr()` as an alias for `fredr_series_observations()`

Let's implement the documentation work.

[2018-07-18 01:33] DavisVaughan commented on #19
I think it's better to just stay with `tibble`. The dependencies are heavy enough that some people will complain, which I can understand. It's a nice thought though.

[2018-07-18 01:40] sboysel commented on #19
Right. I'll close for now.

[2018-07-18 01:40] #19 closed

[2018-07-18 01:42] DavisVaughan commented on #16
Note that to do this in a tidy way the structure of the return value would have to change from:

[code]

to

[code]

so we can stack series.

I'd be okay with just doing it for `fredr_series_observations()`. It makes the most sense there and is easy to understand how you'd add multiple series together. The approach could be:

* `fredr_series_observations()` changes to `fredr_series_observations_si

[2018-07-18 01:57] sboysel commented on #16
Upon further reflection, I think this is a little beyond the scope of something this package should support.

With the advent of `purrr`, I'm no longer sure I see the pressing need to vectorize single function I write.  We could include the `purrr::map_dfr()` approach as a recipe in the vignettes.  Did you have a use case in which this approach is too cumbersome?

[2018-07-18 02:20] DavisVaughan commented on #16
I was just going with the general R theory that things are vectorised. But I totally see your point. It's nice with purrr too because `pmap()` gives us iteration over both the series_id and, say, the observation_start for free, where otherwise we'd have to do a lot of work to vectorize every arg.

That being said, I do thing we may want to change the structure of the return value so they stack nic

[2018-07-18 02:56] sboysel commented on #44
Closed with #46

[2018-07-18 02:56] #44 closed

[2018-07-18 02:58] sboysel commented on #16
Yes I see what you're saying.  `date`, `series_id` and `value` as columns is a good compromise for now.

[2018-07-18 21:29] sboysel opened #48 "Docsearch"
When the documentation is more or less stable:

https://pkgdown.r-lib.org/articles/pkgdown.html#search

[2018-07-19 01:10] #16 closed

[2018-07-19 06:31] sboysel commented on #41
Closed with #47

[2018-07-19 06:31] #41 closed

[2018-07-19 09:20] sboysel commented on #48
Closed with #54

[2018-07-19 09:20] #48 closed

[2018-07-19 22:48] DavisVaughan commented on #13
I think things are looking pretty good. Want me to take one more look at the new vignettes? Anything else?

[2018-07-19 23:25] DavisVaughan opened #56 "Update README and Getting Starting Installation sections"
Before sending to CRAN, ensure that this is updated to say "Install from CRAN using..." and then remove the section that says you can "only install from github". Do this post merging #55 to reduce merge conflicts

[2018-07-20 20:23] sboysel opened #59 "Initial Version"
Given the way we've change the API over the last few weeks, I think 1.0.0 is appropriate for the initial CRAN release.  Just wanted to get your thoughts, @DavisVaughan

[2018-07-20 20:55] sboysel commented on #56
Closed with #60

[2018-07-20 20:55] #56 closed

[2018-07-20 21:02] DavisVaughan commented on #59
Agreed! These are major breaking changes and I see no immediate reason that the API would have any further breaking changes after this, so 1.0.0 sounds appropriate with 1.1.0 being the next and so on

[2018-07-20 21:09] sboysel commented on #59
Perfect.  I'll go ahead and do the following:

- Tag master with v1.0.0
- Update the changelog
- [Submit to CRAN](https://cran.r-project.org/submit.html).  Newbie question: CRAN comments should go in the Optional Comments text box at the submission portal?  Don't want to make any assumptions on what the maintainers will read.

[2018-07-20 21:23] DavisVaughan commented on #59
I would use devtools::release() for submitting to CRAN. I've never used the portal itself, devtools does it for you. You will just have to click something in an email you get after using devtools verifying your submission. Assume they skim the cran comments file we added, it's a standard file they likely read. Don't be upset if we get a first round rejection. Make sure and do a devtools::check() a

[2018-07-20 21:49] #59 closed

[2018-07-20 22:07] sboysel commented on #13
On CRAN submission:  running into `git2r` authentication issue when running `devtools::release()`

[code]

I think it's related to [recent changes in `git2r`](https://github.com/ropensci/git2r/releases/tag/v0.23.0).  I can try downgrading my `git2r` so I can still use `devtools::release()`.

I'll have to come back to this a bit later.

[2018-07-21 02:06] sboysel commented on #13
I reran the git checks manually and submitted the package to CRAN.  Will update on feedback.

A huge thanks for all the help, @DavisVaughan!

[2018-07-21 02:14] DavisVaughan commented on #13
Happy to hear it and happy to help! Keep me updated and I'll promote on Twitter!

[2018-07-22 01:54] #13 closed

[2018-07-26 10:07] DavisVaughan commented on #59
Are we waiting on a response from CRAN for this?

[2018-07-26 17:45] sboysel commented on #59
Yes. The last update I got was that the package was pending manual inspection (4 days ago, the second resubmission).

[2018-07-26 18:04] DavisVaughan commented on #59
I see it here in the inspect section of their lesser known ftp site ftp://cran.r-project.org/incoming/inspect/

Looks like more backlog there than I usually see

[2018-07-28 22:29] sboysel commented on #59
Just got word that `fredr` is on its way to CRAN!

[2018-07-28 22:30] DavisVaughan commented on #59
HYPE
https://cran.r-project.org/web/packages/fredr/index.html

[2018-07-28 22:32] DavisVaughan commented on #59
I'm going to post on social media (with 100% credit to you) if that's cool?

[2018-07-28 22:34] sboysel commented on #59
Yeah please spread the word. Thanks.  Credit isn't super important to me.  I really appreciate all the help.

[2018-07-28 22:35] DavisVaughan commented on #59
Happy to be able to share some knowledge I've gained over the years. It's been a pleasure building this out with you!

[2018-09-10 14:02] YourEconProf opened #67 "'enquos' is not an exported object from 'namespace:rlang'"
I just installed fredr, and I have an API key. Any call to fredr results in the message
` 'enquos' is not an exported object from 'namespace:rlang' `
I've tried in clean sessions with no change. Any suggestions?

`
R version 3.3.2 (2016-10-31)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS  10.13.6

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attac

[2018-09-10 15:00] DavisVaughan commented on #67
You `rlang` version looks pretty out of date `rlang_0.1.4`. Could you update and try again?

`install.packages("rlang")`

Thanks!

[2018-09-18 13:00] YourEconProf commented on #67
Fixed it! Thanks for the quick response.

[2018-09-18 13:00] #67 closed

[2018-10-03 21:36] sboysel opened #68 "Pagination"
Had the need recently to use something like this

[code]

<sup>Created on 2018-10-03 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

I'm quite ignorant of best practices regarding these types of functions so any input would be appreciated.

[2019-07-25 14:08] ceschi opened #71 "Encoding error with fredr_series_observations"
Hi,
In recent days I have been experiencing a new error with fredr_series_observations while fetching data from FRED, as R throws the following error
[code]
 Until last week all was working smoothly. What is a bit strange is that it appears to be totally unpredictable: if I call the fredr_series_observations function from a script with `source` or running the code line-by-line it makes little diff

[2019-10-23 16:03] ceschi commented on #71
nothing?

[2019-10-23 16:11] DavisVaughan commented on #71
Can you post a reproducible example of the code that triggers the error? Or the full error message?

Even if it happens randomly, that will give us something to call repeatedly on our end to try and trigger what you are seeing.

It is very hard to help without any examples.

[2019-10-24 05:44] sboysel commented on #71
I'm pretty that is an encoding *message*, not an error, from the `httr::content` call within `fredr::fredr_request`.  We can explicitly pass `utf8` to the `encoding` parameter of `httr::content`.

The actual error you are experiencing would be better diagnosed, as suggested by @DavisVaughan, with a reproducible example.

[2019-10-24 11:32] ceschi commented on #71
I agree the encoding piece is a message not an error, the `Error in (function (endpoint, ..., to_frame = TRUE, print_req = FALSE)  :` part seems an error and it prevents the correct execution of the code. I am currently running again the script (both lin-by-line and as `source(script.R)` but the error is not popping up, while yesterday it did. I wonder if it is something related to release dates o

[2019-10-24 11:35] DavisVaughan commented on #71
Could you please provide the lines of code that you are running?

[2019-10-24 12:25] ceschi commented on #71
as soon as I can reproduce the error and find the exact line that triggers it I will post it, as of now it seems to work

[2019-10-24 13:25] ceschi commented on #71
This seems to be the piece of code behind the error

`base <- fredr_series_observations(series_id='BOGMBASE', frequency='q') %>% tbl_xts() %>% `/`(.,1000)`

[2019-10-24 17:59] sboysel commented on #71
@ceschi I cannot seem to reproduce that error with `fredr 1.0.0`.  Not sure I understand the `/(.,1000)` part, perhaps it was a typo.  It seems like you're using this line as part of a more complicated script or function.  If the issue persists, try to [use the debugger](https://support.rstudio.com/hc/en-us/articles/205612627-Debugging-with-RStudio) with `debug(fredr_series_observations)` and then

[2019-10-24 18:30] DavisVaughan commented on #71
@sboysel probably, retrying like we do now might end up helping the finicky-ness

[2019-10-24 18:40] ceschi commented on #71
@sboysel Same version I am using. The `/(.,1000)` part is just to divide everything by 1000 from millions to billions. Last time I tried it took like 12 tries before having the error again. It is exactly part of a bigger script that collects a number of series. I'll try with the debugger then, thanks!

[2019-10-24 18:51] sboysel commented on #71
@ceschi You could also try installing the development version of `fredr` that as of #70 , will retry `GET` requests up to 10 times.  This can be done with `devtools::install_github('sboysel/fredr')`.

[2019-10-27 02:00] #71 closed

[2019-10-27 02:09] sboysel opened #73 "Better test environment for API requests"
Following up on the discussion in #72 .  Running the full test suite leads to the package build time running in excess of 20 mins, mostly due to latency and/or connection issues with the FRED server.  Using a more elegant web testing framework such as [nealrichardson/httptest](https://github.com/nealrichardson/httptest) would handle test calls more efficiently.

[2020-04-21 17:05] sboysel opened #75 "CRAN issues"
Package was dropped from CRAN today due to some outstanding issues.  The CRAN check results are no longer available either.  travis build have been failing so it could be related.  Will look into it this week to get it accepted again.

[2020-04-25 02:30] AdeelK93 commented on #75
Is the CRAN rejection due to the tests failing? I could be totally off, but from looking at it, it looks like test_docs.R lines 8 and 9 are failing because GETting a bad documentation endpoint like https://fred.stlouisfed.org/docs/api/fred/foo.html would once give a non-200 status code, but now yields a 200.

Big fan of your work! I use `fredr` all the time

[2020-04-25 04:43] sboysel commented on #75
Thanks @AdeelK93! Seems strange bad endpoints would be tolerated like that.  Since there are relatively few, I suppose we could hardcode them and forgo status code checking.

[2020-05-08 13:57] schoewed opened #76 "Removed from CRAN?"
Hey! Just curious why this was recently pulled from the CRAN repo? I downloaded the devtools version  but was curious what happened. Let me know, seems like a great package!

[2020-05-08 19:54] rcberg commented on #76
not updated for R 4.0.0 it seems :\

[2020-05-14 21:28] sboysel commented on #76
@schoewed Unfortunately yes.  I'm taking a look at it tonight so hopefully I can resubmit and have it back on CRAN within a few days.  Duplicate of #75 so I'll redirect any concern to that issue.

[2020-05-14 21:28] #76 closed

[2020-05-14 21:31] sboysel commented on #75
@AdeelK93 @DavisVaughan I'm considering changing `fredr_docs()` to just `fredr_docs() <- function() utils::browseURL(url = "https://api.stlouisfed.org/docs/fred/")`.  I feel like this is easily the least practical function in the package and this simplification would be more user and maintainer friendly.

[2020-05-14 21:46] DavisVaughan commented on #75
That’s fine by me

[2020-05-14 21:59] sboysel commented on #75
Yes.  Other than the entire test suite taking over 20 minutes for all the endpoints.

I'll try messing around with [nealrichardson/httptest](https://github.com/nealrichardson/httptest) to see if we can cache requests in the package.   If I'm understanding the documentation correctly, this amounts to

1. Running the requests wrapped in `capture_requests()` once (caches responses in `tests/testthat/

[2020-05-14 22:59] DavisVaughan commented on #75
I think that sounds pretty nice. The biggest thing for me would be "sometimes I actually want to run the tests against the live API. how do i do that?" The answer seems to be:
https://github.com/nealrichardson/httptest#how-do-i-switch-between-mocking-and-real-requests

So what might be nice is to have it set up so that 99% of the time we test against the mocked/cached requests, but we then have an

[2020-05-14 23:57] sboysel commented on #75
Ok sounds good.  Github Actions is less familiar to me.  Is this the right documentation? https://help.github.com/en/actions/reference/events-that-trigger-workflows

[2020-05-15 01:18] DavisVaughan commented on #75
Maybe start here https://github.com/r-lib/actions/blob/master/README.md

And `usethis::use_tidy_github_actions()`

I can have a look next week to set things up if that would help

[2020-05-19 22:50] sboysel commented on #73
Working on mocking API requests with [nealrichardson/httptest](https://github.com/nealrichardson/httptest).  Running into error in basic setup so posting here for reference.  Captured requests with `httptest::capture_request()` stored in `tests/testthat` but then wrapping requests with `httptest::with_mock_api()` throws an error

[code]

So `httptest::.mockPaths()` are default (relative to `tests/

[2020-05-19 22:52] sboysel commented on #75
Discussion of mock API can be moved to #73.  Just added some notes on some issues I'm facing to that issue.

[2020-05-19 23:00] sboysel commented on #75
Change to `fredr_docs()` was merged in #77.  Will close this issue when `fredr` is back on CRAN (i.e. must address #73 before resubmitting).

[2020-05-20 02:50] sboysel commented on #73
Another complication to testing: switching from `httr::GET` to `httr::RETRY` in `fredr::fredr_request()` introduced some lag in the testing suite given some tests expect failure for bad endpoints.  By default, `fredr::fredr_request()` will run the request up to 10 times for any failure.  I will expose a `retry_times` argument in `fredr::fredr_request()`, passed directly to the `times` argument of

[2020-05-20 06:23] sboysel commented on #73
First stab at mocking the FRED API with httptest merged to master with #78

[2020-05-20 06:23] #73 closed

[2020-07-17 19:13] mhollander commented on #75
Is there an update on getting fredr back on CRAN?

[2020-07-17 20:04] sboysel commented on #75
@mhollander We've been trying to overhaul/improve the testing suite to be more CRAN friendly in #79 but, consistent with most of my development experience, introduced more issues along the way.  In a nutshell, the full testing suite consists of many calls to the FRED API and have been timing out and/or failing since introducing the mocking framework.  Unfortunately, I haven't had as much time to w

[2020-07-21 02:02] mhollander commented on #75
Thank you for the comment. I completely understand that you don't have time for FOSS recently.  Getting the tests to work is beyond my knowledge (and I don't have much FOSS time myself!). For now, I'm just installing from github.  I hope one day to be able to help out.

[2020-09-27 19:27] thsavage commented on #75
First, let me thank for developing this API.  I have used it extensively for teaching purposes.  And I know finance practitioners have found it very valuable.  The deprecated version now is no longer useable with R 4.0.2 (and I'm surprised by how many changes have been pushed out by CRAN in the summer of 2020).  Any chance that you will do another build?

[2020-09-28 16:55] AdeelK93 commented on #75
I know it's sloppy, but would you be open to cutting out some of the tests in order to get this back on CRAN, if issues with the testing suite are still holding this project back?

[2020-09-29 17:54] sboysel commented on #75
@thsavage @AdeelK93 @mhollander thanks for your interest in the package!  Yes, I would be open to reducing some of the testing suite for the sake of getting fredr back on CRAN.  I can make the changes in master to resubmit to CRAN and continue to iron out the testing issues in a development branch.  I will be able to put some more time to this in the coming weeks.  Appreciate everyone's patience.

[2020-09-30 18:38] DavideMagno opened #80 "Fredr can't return a legit series_id"
Hi, first of all thanks a lot for the amazing package.

I am trying to download the following ticker

![image](https://user-images.githubusercontent.com/9103832/94725163-3e75ab80-0353-11eb-829f-20a4676753e4.png)

but fredr returns me the following response:

[code]

How can I check the legitimacy of a series_id?

[2020-09-30 18:53] DavideMagno commented on #80
Update: as "LIBOR Rates" category is 33003 i run the following:

[code]

is there any workaround?

[2020-09-30 18:58] yanlesin commented on #80
What do you get for this?
[code]

[2020-10-06 18:43] alexWhitworth commented on #75
My $0.02 is there's no need to rush getting it back on CRAN, since it's easy enough to install from either source or GitHub.

@sboysel -- are you able to provide an overview of the test suite problems? I'd be happy to submit a PR if given some general direction to get started. But I'm lazy and I don't want to wade through the code w/o such an overview :)

[2020-10-07 01:24] thsavage commented on #75
@sboysel: From one economist to another, again my gratitude for what you have done.  (I remember the busy days of grad school, which is your first commitment.).

The ability to ingest data in the first class of a semester allows me to teach an immersion class rather than the traditional econometrics class.  The ability to do time series storytelling really empowers the masters student.

[2020-10-21 17:19] DavisVaughan opened #81 "Getting fredr back on CRAN"
Related to #75 - but I didn't want everyone in that thread to get notified.

@sboysel I'd be willing to take another look at this to get this back on CRAN

Honestly I now think the easiest thing to do is to back out your commit with the mocking features. Instead, to keep this on CRAN I would do the following:

1. Skip all tests that require hitting the API if there is no auth token by using a cust

[2020-10-21 20:05] sboysel commented on #81
Good to hear from you @DavisVaughan.  Was just clearing the cobwebs from my R development environment before reading this issue.  I think this all sounds great and I'm happy to follow the advice of someone more familiar with this whole process than I.  I will give you push permissions to master and I sincerely appreciate your help.  I can handle any additional changes and the CRAN resubmission pro

[2020-10-21 20:10] sboysel commented on #81
I've added you as a collaborator to the repository and I don't seem to have any special branch restrictions set up.  Let me know if that's not enough access.

[2020-10-21 20:20] DavisVaughan commented on #81
Thanks! Happy to help. I'll also need you to go into the Settings part of the repo and add a fredr token to the Secrets section so it can be used in github actions. You would create a Secret with the name `FRED_API_KEY` and then you'd add your key, and then we can set it as an environment variable in github actions with `env: FRED_API_KEY = {secrets.FRED_API_KEY}` or something similar to that

[2020-10-21 20:27] sboysel commented on #81
Done.  `FRED_API_KEY` was already set so I just verified it's the same test key we've always used.

[2020-11-03 14:18] DavisVaughan commented on #81
@sboysel could you please go into Settings -> scroll down to GitHub Pages -> change Source to the gh-pages branch (the folder should just be root, I think that is the default)

[2020-11-03 14:24] DavisVaughan commented on #81
Could you also please turn off the AppVeyor Webhook? I think you would need to go into Setting -> Webhooks -> Delete anything that looks related to AppVeyor (or travis if you see it)

[2020-11-03 15:20] sboysel commented on #81
Done.

[2020-11-03 15:20] sboysel commented on #81
Done.  Should we keep the Codecov webhook?

[2020-11-03 15:21] DavisVaughan commented on #81
Yes!

Thanks!

[2020-11-03 18:03] DavisVaughan commented on #80
I'm not sure why that series isn't available. It is not a fredr bug, as hitting the api directly in the browser shows the same thing. I've sent the people at FRED an email asking if they have any advice

[2020-11-03 18:22] DavisVaughan commented on #81
It seems I've hit the rate limit for the stored api key. I'm asking the people at FRED if they can up our limits (they specifically say that you can ask them to raise it here https://fred.stlouisfed.org/docs/api/fred/errors.html)

[2020-11-03 19:02] DavisVaughan commented on #80
This is what I got back

---

Hi,

The source of the following releases, ICE Libor Rates, ICE Swap Rates, LBMA Gold Price: Daily Prices, and LBMA Silver Price: Daily Prices, will not let us redistribute their data in our Excel Add-in and API. Previously, this data was available in all the FRED products, but the series will no longer be accessible through the above-mentioned products.

For the user

[2020-11-03 19:02] #80 closed

[2020-11-03 20:05] DavisVaughan commented on #81
I've learned that the rate limit is 120 requests per minute. This is pretty generous, and is hard to hit unless you are either:

- Constantly requesting short series from a fast responding endpoint
- Running multiple requests in parallel using the same api key

The second is what happens when I run the test coverage build. It runs test coverage with the api key + the R CMD Check build that uses th

[2020-11-03 20:47] DavisVaughan opened #82 "Release fredr 2.0.0"
Prepare for release:

* [x] Check that description is informative
* [x] Check licensing of included files
* [x] `devtools::build_readme()`
* [x] `usethis::use_cran_comments()`
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] Update `cran-comments.md`
* [x] Review pkgdown reference index for, e.g., missing topics

Submit

[2020-11-03 22:56] DavisVaughan commented on #81
@sboysel I think this is ready for a CRAN release. I've got a release candidate PR ready to go https://github.com/sboysel/fredr/pull/84.

If you approve, then I can release it with `devtools::release()` and then you just have to accept the email (since you are the Maintainer).

Overall changes:

## GitHub Actions

Moved away from Travis and Appveyor to GitHub Actions. The "workflows" are in `.gith

[2020-11-05 16:25] sboysel commented on #81
This is amazing work, @DavisVaughan !  A HUGE thanks for helping out and doing a much better job than if I handled it alone.  Great to learn all these tricks for R packaging.

I've looked over your changes and it all looks great to me.  I'll gladly defer to your expertise on areas I'm less familiar with.

Yes, please do submit via `devtools::release()` and I will monitor my email.  I will make ann

[2020-11-05 16:38] sboysel commented on #75
Thanks to everyone for their interest in and support of `fredr`.  Even more thanks for everyone's patience as we have worked to get `fredr` and its cumbersome testing suite back on CRAN since it was dropped in April.

Wanted to update everyone on the amazing efforts of @DavisVaughan in preparing `fredr` for a `2.0.0` release and getting back on CRAN.  All credit should go to Davis for keeping `fre

[2020-11-05 16:44] DavisVaughan commented on #81
I'm happy to help!

I have released fredr 2.0.0, you should have received an email.

Just let me know when you hear back from CRAN (acceptance or otherwise). If accepted, I'll merge in https://github.com/sboysel/fredr/pull/84 and that will take care of closing all the linked issues. Then I'll update the version number again to bump it to the next development version and that should be it.

[2020-11-05 17:11] mhollander commented on #75
This is awesome!  Thanks!

On Thu, Nov 5, 2020 at 11:38 AM Sam Boysel <notifications@github.com> wrote:

[2020-11-05 17:17] thsavage commented on #75
Indeed.  Many thanks.

[2020-11-05 17:36] Fredo-XVII commented on #75
I've been following this through GitHub, awesome job!

Congrats on getting done!

On Thu, Nov 5, 2020, 11:18 AM Timothy H. Savage <notifications@github.com>
wrote:

[2020-11-05 18:55] yanlesin commented on #75
Thanks a lot for getting this back on CRAN! I was following it as well, great learning experience! Thanks @DavisVaughan and @sboysel!

[2020-11-11 19:39] sboysel commented on #81
Just got this email from CRAN last night:

1. Seems I was using `options(digits = 4)` in each of the vignettes (just checked and does not appear anywhere else)
2. I didn't get to see the actual errors CRAN was citing before the package was dropped.  Naturally, the web check [results](https://cran.r-project.org/web/checks/check_results_fredr.html) page they directed me to is no longer active.  Shou

[2020-11-11 21:01] DavisVaughan commented on #81
@sboysel - I've resubmit fredr to CRAN

Can you please check your email for another CRAN submission email?

Additionally, can you please respond to Gregor with something like:

[code]

I find that when I reply nicely saying that we resubmit and fixed their issues, I get a faster turnaround time.

[2020-11-11 21:03] sboysel commented on #81
Thanks @DavisVaughan.  Will do, good suggestion on the email followup.  Will update you when I hear back.

[2020-11-16 16:29] sboysel commented on #81
Just received word that the latest submission of `fredr` is heading to CRAN!

[2020-11-16 17:33] sboysel commented on #75
`fredr` is now back on [CRAN](https://cran.r-project.org/web/packages/fredr/index.html)!  Will be merging #84 into master shortly and drafting a GitHub release of 2.0.0.  Thanks for bearing with us!

[2020-11-16 17:35] #75 closed

[2020-11-16 17:35] #81 closed

[2020-11-16 17:35] #82 closed

[2020-11-16 17:46] DavisVaughan commented on #81
Alright. All merged and cleaned up!

[2020-11-16 17:48] sboysel commented on #81
Thanks for all the help, @DavisVaughan!

[2020-11-16 18:11] DavisVaughan commented on #81
On the home page of the github repo, you link to the pkgdown site with HTTP, you may want to switch to HTTPS! (Both work, you should just have to change the url on the repo page)

[2020-11-16 18:14] sboysel commented on #81
Will do.  Also making a note here to change the Shields.io badges in `README.md` / `README.Rmd` so that the proper CRAN version appears.

[2020-11-17 12:37] thsavage commented on #75
Great work.  Thank you very much.

[2020-12-01 03:09] thistleknot opened #85 "way to traverse category trees?"
similar to traverseCategories found here?

https://github.com/jcizel/FredR/blob/master/R/FredR.R

I'm having a hard time exploring all the categories.  I have to sift through them manually and what I'd  like to do is start at a base node up top and sort all the way down by popularity but I need to be able to traverse the tree first.

[2020-12-01 13:47] DavisVaughan commented on #85
That function isn't exported, so im not really sure what it actually does.

fredr is really designed for you to use it in conjunction with the FRED site. For example, they have a category section
https://fred.stlouisfed.org/categories/

Clicking on Money and Banking -> Exchange Rates -> Daily Rates, I can see all the daily rate series and can use their drop down to sort.

At the top in the URL, I

[2020-12-01 14:54] thistleknot commented on #85
I figured out a way to do recursive functions

but it still returns empty tibbles, but I think I can clean that up on the backend
[code]

[2020-12-01 17:58] thistleknot commented on #85
fyi, the above code takes hours.  There's got to be an xml call that gives you all the nested categories

[2020-12-02 02:19] thistleknot commented on #85
I tried data.tree but ended up writing my own function
`
data <- read.csv(file="combined.csv", header = TRUE)

print.matrix <- function(m){
  write.table(format(m, justify="right"),sep="\t",
              row.names=F, col.names=F, quote=F)
}

define.catt <- function(ntab = NULL){
  catt <- function(input = NULL){
    cat(paste0(paste(rep("\t", ntab), collapse = ""), input))
  }
  return(catt)
}

r

[2020-12-03 02:16] thistleknot commented on #85
I got it!
I had to write.csv and cat them all into one file with id, name, parent_id, notes

but now this works

`
return.categories <- function(x) {

  p <- data[which(data$id==x),]

  #print(cbind(p[,c(1,3,2)]))

  children <- data[which(data$parent_id==x),]

  if (nrow(children) == 0) {return(p)} else {

    r <- lapply(data[which(data$parent_id==x),]$id, function(y)
    {

      return.categor

[2020-12-03 02:58] thistleknot commented on #85
![image](https://user-images.githubusercontent.com/5154106/100957974-0fa9bc00-34e1-11eb-9954-60416d05f166.png)

[2020-12-03 02:58] thistleknot commented on #85
to have a version like that would require having the file pre downloaded ahead of time.  I intend on keeping a file I manually update yearly.

[2020-12-03 21:38] thistleknot commented on #85
updated script

library(fredr)
fredr_set_key("getyourown")

recursive.categories <- function(x) {

  #parent <- fredr_category(32998)
  parent <- fredr_category(x)

  children <- fredr_category_children(category_id = parent$id)

  print(parent)

  if (length(children) == 0)  {
    p <- cbind(parent$id,parent$name)
    names(p) <- paste(parent$id,parent$name)
    return (p)
  }

  else  {
    c <-

[2020-12-04 13:18] DavisVaughan commented on #85
@thistleknot I'm happy to hear that you found a solution that works for you, however, I think that fredr should probably stick to just the API endpoints without too much additional work on top of it, so we probably won't add this. Thanks for detailing your solution though, in case anyone else needs this!

[2020-12-04 13:18] #85 closed

[2020-12-05 22:04] thistleknot opened #86 "This likely isn't an issue with your code, but something to be wary of"
I had some categories I had picked out manually from some lists that FRED had published and I was comparing them against what I downloaded and noticed they weren't in any of the lists that fredr downloads.  So i looked into the api calls and it looks like the API stops at 1000 returns

for example

fredr_series_categories("UMCSENT")
is part of 32457 but you won't see if when you do a

fredr_catego

[2020-12-05 22:08] thistleknot commented on #86
I see there is a limit and pagination... ugh... going to have the joy of figuring out which series have more than 1000 entries

[2020-12-06 19:10] sboysel commented on #86
The `limit` parameter is documented for some endpoints (e.g. `fred/seriesobservations`) and is not documented.  My hunch is there is an implicit 1000 limit for `fred/series/categories`.  In any case, pagination solutions are something we discuss in #68 .

[2020-12-06 19:10] #86 closed

[2020-12-06 19:57] thistleknot commented on #86
Thanks. I ended up retrofitting my code to check the nrow's returned and do a do-while loop (thank you business programming lbcc)  But I'm glad you are aware of it.  You did add the offset paramater so I was able to make due.  This can be closed.  Albeit I'm sure people will want the solution.

[2020-12-21 16:12] Islascuevas opened #87 "Trouble downloading multiple FRED series"
Hi! I'm having an issue when I try to download multiple series.

The following error appears:

Request failed [504]. Retrying in 1.7 seconds...
Request failed [504]. Retrying in 1.8 seconds...
Error: 404: Not Found.  The series does not exist.
Call `rlang::last_error()` to see a backtrace

I'm using this code to download multiple series:

fredr_set_key("9a0529b046b504306865a494d1ce7a6b")

params <

[2020-12-21 16:15] Islascuevas commented on #87
I have already used the rlang:: last_error() and the rlang:: last_trace() with this results:

<error>
message: 404: Not Found.  The series does not exist.
class:   `rlang_error`
backtrace:
 1. purrr::pmap_dfr(.l = params, .f = ~fredr(series_id = .x, frequency = .y))
 2. purrr::pmap(.l, .f, ...)
 3. global::.f(...)
 4. fredr::fredr(series_id = .x, frequency = .y)
Call `rlang::last_trace()` to see t

[2020-12-21 16:47] sboysel commented on #87
Unfortunately this backtrace given here doesn't really explain which ID `fredr()` returns the 404 for.  Can you try just writing a simple for loop for your list of series IDs?  Then you can identify which IDs are causing the error.

[code]

[2020-12-21 17:13] Islascuevas commented on #87
Thanks, I've run the loop, and apparently, the problem is the LIBOR
![image](https://user-images.githubusercontent.com/17576921/102803229-908c0300-437d-11eb-8bb1-ae8f5570c446.png)

[2020-12-21 19:29] DavisVaughan commented on #87
Likely this restriction https://github.com/sboysel/fredr#restrictions

[2020-12-21 22:42] Islascuevas commented on #87
Thanks, that was the whole problem. Keep the good work guys!

[2020-12-21 22:42] #87 closed

[2020-12-23 22:24] clgarciga opened #88 "fredr() and parameter vintage_dates"
From https://cran.r-project.org/web/packages/fredr/fredr.pdf under `fred_series_observations`:

![image](https://user-images.githubusercontent.com/13739205/103041097-671cd400-4543-11eb-8a15-54201fa2fcd5.png)

However, it appears that `fredr` cannot accept more than one date for parameter `vintage_dates`:

![image](https://user-images.githubusercontent.com/13739205/103041138-86b3fc80-4543-11eb-9c77

[2020-12-23 23:07] sboysel commented on #88
Nice catch!  The API parameter itself accepts a comma separated string of dates but it seems we didn't accommodate for that in the `vintage_dates` parameter of `fredr()`.  I can take a stab at this shortly.

[2020-12-23 23:49] clgarciga commented on #88
Thanks! And, thanks for the quick response!

[2021-01-04 22:35] sboysel commented on #88
Should be fixed with #89

[code]

<sup>Created on 2021-01-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-01-05 23:16] sboysel commented on #88
This change has now been merged the master branch with #89.  Will do another CRAN release soon but in the meantime, you can install with `devtools::install_github()`.

[2021-01-05 23:16] #88 closed

[2021-01-06 18:36] clgarciga commented on #88
Thank you!

[2021-01-23 19:43] WJohnC opened #92 "M2 not FedFunds"
In your example use of

federal_funds_series <- fredr_series_search_text(
    search_text = "federal funds",
    order_by = "popularity",
    sort_order = "desc",
    limit = 1
)

popular_funds_series <- federal_funds_series$id

you end up with M2 not FedFunds

[2021-01-27 13:21] #92 closed

[2021-01-29 14:16] DavisVaughan opened #94 "Release fredr 2.1.0"
Prepare for release:

* [x] `devtools::build_readme()`
* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_fredr.html)
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_check(num_workers = 4)`
* [x] Update `cran-comments.md`
* [x] [Polish NEWS](https://style.tidy

[2021-01-29 21:55] sboysel commented on #94
Received an email that `fredr` v2.0.1 is on its way to CRAN

[2021-01-31 14:21] #94 closed

[2021-02-01 17:14] binkleym opened #96 "fredr appears to be completely broken on my R setup"
I have the Ubuntu Focal default R (3.6.3) installed on my server, with RStudio Server running.    I am running fredr 2.1.0.

Running the following minimal R script:

library(fredr)
fredr_set_key(api_key_fred)
foo <- fredr(series_id = "SP500")

Yields the following error:

Error: :
  Run `rlang::last_error()` to see where the error occurred.

<error/rlang_error>
  :
  Backtrace:
  1. fredr::fredr(s

[2021-02-01 17:21] mgordonRa commented on #96
This exact issue has just arisen for me too, this morning. I was right about to post an issue myself.

For context, I was able to use fredr last Friday. This morning I booted up a project file using fredr and received an error. I then tried changing my api to see if that was an issue to no avail. I received the same error.

<error/rlang_error>
:
Backtrace:
 1. fredr::fredr(...)
Run `rlang::last_tr

[2021-02-01 17:21] DavisVaughan commented on #96
I think the FRED API is just down. Pasting the following into my browser with `<MY_KEY>` replaced with my actual key gives me a 500 internal server error

[code]

[2021-02-01 17:22] SamuelLeeD commented on #96
I'm having this problem at the moment, and I think it's just that the FRED API is down at the moment.

Using FRED's API link to request a series returns an Internal Server Error: https://api.stlouisfed.org/fred/series?series_id=GNPCA&api_key=abcdefghijklmnopqrstuvwxyz123456

Edit: Right as I was typing this, it seems to work now.

However, it does seem that the error handling in `fredr` is faulty

[2021-02-01 17:23] DavisVaughan commented on #96
It does seem to be back now

[2021-02-01 17:26] mgordonRa commented on #96
It's working again!

[2021-02-01 17:31] sboysel commented on #96
@DavisVaughan maybe we can implement an early and informative check to see if the API is down?

[2021-02-03 18:07] jsolson4 opened #99 "Capture multiple series simultaneously?"
Greetings Sam,

Thank you for creating this package, it's been very helpful. I appreciate the vast selection of functions allowing one to search from categories to series, or get the tags for a series - it's very useful!

I am going to describe my current approach and process, then pose my question. I'm going to include a fair amount of detail, in the change that it's helpful to others. I am new t

[2021-02-04 17:27] jsolson4 commented on #99
Looks like this may have been what I was looking for re capturing multiple series at once:
https://github.com/sboysel/fredr/issues/16

[2021-02-04 17:34] DavisVaughan commented on #99
Yea for the multiple series question I would just `purrr::map_dfr(fredr, series_ids)`

[2021-02-04 17:36] DavisVaughan commented on #99
similarly i think you can `purrr::map_dfr(my_tags, ~fredr_category_series(tag_names = .x))`

[2021-02-04 18:02] jsolson4 commented on #99
Thank you, I was most curious about the bulk series download from a single API hit - so that answers my question.

I'd like to note that when running a bulk capture of data I would often hit the rate limit of 120 hits/min, which would prevent me from pinging the API again for 20 seconds. This would often occur even at runs to capture 10 series, where I am not sending a total of >=120 requests, so

[2021-02-09 20:38] #96 closed

[2021-02-15 07:16] sboysel commented on #99
You can pass a custom function to most of the `purrr` methods to induce timing of the requests to comply with the API limitations.  Just wrap the logic inside your `for` loop a function and pass that function to the `purrr` method.

[2021-02-15 07:17] #99 closed

[2022-05-20 09:42] gionikola opened #100 "Unable to Install (Broken Dependency?)"
Hi,

I'm unable to install and load the fredr package in a GitHub Actions job that installs the latest version of R on a machine running the latest version of Ubuntu.

Running `install.packages()` gives the following error: "ERROR: dependency ‘httr’ is not available for package ‘fredr’"

I've tried installing httr separately, but that doesn't seem to work either.

Here's a link to the latest job f

[2022-05-20 11:40] DavisVaughan commented on #100
httr failed to install because curl failed to install. curl failed to install because the GHA worker doesn't have libcurl installed on it. It is here in the error log https://github.com/gionikola/data-reports/runs/6522276501?check_suite_focus=true#step:5:942

You could probably add a DESCRIPTION file to your repo even though it isn't a package, and then use the standard `setup-r-dependencies` acti

[2022-05-20 11:40] #100 closed, assigned to nobody

[2022-05-20 23:17] gionikola commented on #100
That did the trick -- thank you!

[2022-07-20 19:37] samrkuhn opened #101 "Support for FRED Maps"
[GeoFRED](https://geofred.stlouisfed.org/) is being retired on September 1st, 2022. FRED is replacing this tool with a map feature directly in all series with geographic variable. Would it be possible add a function that downloads the series as a group?
Example- [Per Capita Personal Income in Colorado](https://fred.stlouisfed.org/series/COPCPI) and select 'View Map', then select 'Download as .csv'

[2022-07-21 16:18] sboysel commented on #101
Since `fredr` is just a set of R bindings for the FRED API, I'm not sure that sort of function should be included in the package.

However, how far can you get by using either categories or tags to identify a set of series grouped by geography?  I'm not entirely sure how well this works for geographies so you'd have to do a little investigation.  You could use something like `fredr_series_search_t

[2022-07-21 18:08] DavisVaughan commented on #101
It's all there already if you know where to look! That per-state data is aggregated into a release table, and there is an API for that. The key is finding the release table ID and element ID, which came from the URL.

[code]

![](https://i.imgur.com/Hxr6rpp.png)

<sup>Created on 2022-07-21 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-07-21 18:08] #101 closed, assigned to nobody

[2022-07-21 18:23] samrkuhn commented on #101
This is great - thank you @sboysel and @DavisVaughan